<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/img/logominhub.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/style.css">

    <title>Cards</title>
</head>

<body id="app" class="bodyCard">
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="logo_img">
                    <img class="logo" src="../assets/img/logominhub.png" alt="">
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link aHover" href="./accounts.html">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active aHover" aria-current="page" href="#">Cards</a>
                        </li>
                    </ul>
                </div>
                <button>
                    <a href="./createCards.html" v-on:click="createCard" class="button1">Create Card</a>
                </button>
            </div>
            <button v-on:click="alertLogOut" class="button1">
                Logout
            </button>
        </nav>
    </header>
    <main>
        <!-- sidebar -->
        <div class="sidebar">
            <div class="section">
                <div class="item"><a href="" class="a"></a></div>
                <div class="item"><a href="" class="a"></a></div>
                <div class="item"><a href="" class="a"></a></div>
                <div class="item"><a href="" class="a"></a></div>
            </div>

            <!-- <button v-on:click="alertLogOut" class="button-89" role="button">Logout</button> -->
        </div>
        <!-- fin sidebar -->
        <div class="d-flex flex-column align-items-center  w-100">
            <h2>Hello! {{data.firstName}} {{data.lastName}}, welcome to yours cards.</h2>
            <h2>CREDIT CARDS</h2>
            <section class="sectionCredit gap-3">
                <div class="creditCard" v-for="card of cardCredit" v-if="cardDebit.length >= 0">
                    <div class="card" v-if="card.cardColor=='GOLD'">
                        <div class="card__front card__part dorado">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card__logo" width="70" height="20"
                                viewBox="0 0 175.7 53.9">
                                <style>
                                    .visa {
                                        fill: #fff;
                                    }
                                </style>
                                <path class="visa"
                                    d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                <path fill="#F7A600"
                                    d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                            </svg>
                            <img src="../assets/img/contactless.png" alt="" class="card__logo1">
                            <span>GOLD</span>
                            <img class="card-chip" src="http://alfoart.com/images/golden_credit_card/chip.png" />
                            <p class="card_numer">{{card.number}}</p>
                            <div class="card__space-75">
                                <span class="card__label">CREDIT CARD</span>
                                <p class="card__info">{{card.cardholder}}</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">{{soloAños(card.thruDate)}}</p>
                            </div>
                            <div class="tarjeta-expirada" v-if="card.thruDate <= fechaDadaVuelta">Expired Card</div>
                        </div>
                        <div class="card__back card__part dorado">
                            <div class="card__black-line"></div>
                            <div class="card__back-content">
                                <div class="card__secret">
                                    <p class="card__secret--last">{{card.cvv}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" v-if="card.cardColor=='TITANIUM'">
                        <div class="card__front card__part titanio">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card__logo" width="70" height="20"
                                viewBox="0 0 175.7 53.9">
                                <style>
                                    .visa {
                                        fill: #fff;
                                    }
                                </style>
                                <path class="visa"
                                    d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                <path fill="#F7A600"
                                    d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                            </svg>
                            <img src="../assets/img/contactless.png" alt="" class="card__logo1">
                            <span>TITANIUM</span>
                            <img class="card-chip" src="http://alfoart.com/images/golden_credit_card/chip.png" />
                            <p class="card_numer">{{card.number}}</p>
                            <div class="card__space-75">
                                <span class="card__label">CREDIT CARD</span>
                                <p class="card__info">{{card.cardholder}}</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">{{soloAños(card.thruDate)}}</p>
                            </div>
                            <div class="tarjeta-expirada" v-if="card.thruDate <= fechaDadaVuelta">Expired Card</div>
                        </div>
                        <div class="card__back card__part titanio">
                            <div class="card__black-line"></div>
                            <div class="card__back-content">
                                <div class="card__secret">
                                    <p class="card__secret--last">{{card.cvv}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" v-if="card.cardColor=='SILVER'">
                        <div class="card__front card__part plateado">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card__logo" width="70" height="20"
                                viewBox="0 0 175.7 53.9">
                                <style>
                                    .visa {
                                        fill: #fff;
                                    }
                                </style>
                                <path class="visa"
                                    d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                <path fill="#F7A600"
                                    d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                            </svg>
                            <img src="../assets/img/contactless.png" alt="" class="card__logo1">
                            <span>SILVER</span>
                            <img class="card-chip" src="http://alfoart.com/images/golden_credit_card/chip.png" />
                            <p class="card_numer">{{card.number}}</p>
                            <div class="card__space-75">
                                <span class="card__label">CREDIT CARD</span>
                                <p class="card__info">{{card.cardholder}}</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">{{soloAños(card.thruDate)}}</p>
                            </div>
                            <div class="tarjeta-expirada" v-if="card.thruDate <= fechaDadaVuelta">
                                Expired
                            </div>
                        </div>
                        <div class="card__back card__part plateado">
                            <div class="card__black-line"></div>
                            <div class="card__back-content">
                                <div class="card__secret">
                                    <p class="card__secret--last">{{card.cvv}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 v-else class="d-flex justify-content-center text-light">We no have cards for show you</h3>
            </section>
            <h2>DEBIT CARDS</h2>
            <section class="sectionDebit gap-3">
                <div class="creditCard" v-for="card of cardDebit" v-if="cardCredit.length >= 0">
                    <div class="card" v-if="card.cardColor=='GOLD'">
                        <div class="card__front card__part dorado">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card__logo" width="70" height="20"
                                viewBox="0 0 175.7 53.9">
                                <style>
                                    .visa {
                                        fill: #fff;
                                    }
                                </style>
                                <path class="visa"
                                    d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                <path fill="#F7A600"
                                    d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                            </svg>
                            <img src="../assets/img/contactless.png" alt="" class="card__logo1">
                            <span>GOLD</span>
                            <img class="card-chip" src="http://alfoart.com/images/golden_credit_card/chip.png" />
                            <p class="card_numer">{{card.number}}</p>
                            <div class="card__space-75">
                                <span class="card__label">DEBIT CARD</span>
                                <p class="card__info">{{card.cardholder}}</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">{{soloAños(card.thruDate)}}</p>
                            </div>
                            <div class="tarjeta-expirada" v-if="card.thruDate <= fechaDadaVuelta">Expired Card</div>
                        </div>
                        <div class="card__back card__part dorado">
                            <div class="card__black-line"></div>
                            <div class="card__back-content">
                                <div class="card__secret">
                                    <p class="card__secret--last">{{card.cvv}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" v-if="card.cardColor=='TITANIUM'">
                        <div class="card__front card__part titanio">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card__logo" width="70" height="20"
                                viewBox="0 0 175.7 53.9">
                                <style>
                                    .visa {
                                        fill: #fff;
                                    }
                                </style>
                                <path class="visa"
                                    d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                <path fill="#F7A600"
                                    d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                            </svg>
                            <img src="../assets/img/contactless.png" alt="" class="card__logo1">
                            <span>TITANIUM</span>
                            <img class="card-chip" src="http://alfoart.com/images/golden_credit_card/chip.png" />
                            <p class="card_numer">{{card.number}}</p>
                            <div class="card__space-75">
                                <span class="card__label">DEBIT CARD</span>
                                <p class="card__info">{{card.cardholder}}</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">{{soloAños(card.thruDate)}}</p>
                            </div>
                            <div class="tarjeta-expirada" v-if="card.thruDate <= fechaDadaVuelta">Expired Card</div>
                        </div>
                        <div class="card__back card__part titanio">
                            <div class="card__black-line"></div>
                            <div class="card__back-content">
                                <div class="card__secret">
                                    <p class="card__secret--last">{{card.cvv}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" v-if="card.cardColor=='SILVER'">
                        <div class="card__front card__part plateado">
                            <svg xmlns="http://www.w3.org/2000/svg" class="card__logo" width="70" height="20"
                                viewBox="0 0 175.7 53.9">
                                <style>
                                    .visa {
                                        fill: #fff;
                                    }
                                </style>
                                <path class="visa"
                                    d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                <path fill="#F7A600"
                                    d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                            </svg>
                            <img src="../assets/img/contactless.png" alt="" class="card__logo1">
                            <span>SILVER</span>
                            <img class="card-chip" src="http://alfoart.com/images/golden_credit_card/chip.png" />
                            <p class="card_numer">{{card.number}}</p>
                            <div class="card__space-75">
                                <span class="card__label">DEBIT CARD</span>
                                <p class="card__info">{{card.cardholder}}</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">{{soloAños(card.thruDate)}}</p>
                            </div>
                            <div class="tarjeta-expirada" v-if="card.thruDate <= fechaDadaVuelta">Expired Card</div>
                        </div>
                        <div class="card__back card__part plateado">
                            <div class="card__black-line"></div>
                            <div class="card__back-content">
                                <div class="card__secret">
                                    <p class="card__secret--last">{{card.cvv}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 v-else class="d-flex justify-content-center text-light">We no have cards for show you</h3>
            </section>
            <h2>Delete Account</h2>
            <form class="my-form" @submit.prevent>
                <ul class="ulCreationCard">
                    <li>
                        <select v-model="number" name="">
                            <option value="">Choose which card you want to delete</option>
                            <option v-for="card of cards" :value="card.number">{{card.number}}</option>
                        </select>
                    </li>
                    <div class="grid grid-3">
                        <button v-on:click="alertOcultar" class="btn-grid button2" type="submit">
                            <span class="back">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/email-icon.svg" alt="">
                            </span>
                            <span class="front">DELETE</span>
                        </button>
                    </div>
                    </li>
                </ul>
            </form>
        </div>
        </div>
    </main>
    <footer class="d-flex align-items-center flex-wrap justify-content-around">
        <div class="d-flex justify-content-evenly imgs ">
            <div>
                <a href="https://github.com/joaquinfleitas" target="_blank">
                    <i class="fa-brands fa-github" style="font-size: 2rem;"></i>
                </a>
            </div>
            <div>
                <a href="tel:+5491127218740" target="_blank">
                    <i class="fa-solid fa-phone" style="font-size: 2rem;"></i>
                </a>
            </div>
            <div>
                <a href="https://wa.me/5491127218740" target="_blank">
                    <i class="fa-brands fa-whatsapp" style="font-size: 2rem;"></i>
                </a>
            </div>
            <div>
                <a href="https://joaquinfleitas71@gmail.com" target="_blank">
                    <i class="fa-solid fa-envelope" style="font-size: 2rem;"></i>
                </a>
            </div>
            <div>
                <a href="discord:joaquinfleitas#1479" target="_blank">
                    <i class="fa-brands fa-discord" style="font-size: 2rem;"></i>
                </a>
            </div>
        </div>
        <div class="p" style="margin: 10px;">
            <p>| Cohort FS041 Full Stack JAVA</p>
            <p>| Developer Joaquin Alain Fleitas</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/4753464142.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../assets/javascript/cards.js"></script>
</body>

</html>