<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/img/logominhub.png" type="image/x-icon">
  <link rel="stylesheet" href="../assets/index.css">

  <title>Login</title>
</head>

<body class="d-flex flex-column justify-content-center">
  <header>
    <nav></nav>
  </header>
  <main class="d-flex align-items-center flex-column" id="app">
    <div class="d-flex flex-column align-items-center divGeneral">
      <!-- formulario2 -->
      <div class="bordeLogo">
        <img class="logo" src="../assets/img/logominhub.png" alt="">
      </div>
      <div class="login-box" v-show="cambio == 1">
        <p>MindBank Homebanking</p>
        <form @submit.prevent>
          <div class="user-box">
            <input v-model="email" required="" name="" type="text">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input v-model="password" required="" name="" type="password">
            <label>Password</label>
          </div>
          <a v-on:click="login" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
          </a>
        </form>
        <p>Don't have an account? <a href="#" class="a2" @click="cambiar">Click here!</a></p>
      </div>
      <!-- register -->
      <div class="login-box" v-show="cambio == 0">
        <p>Register</p>
        <form @submit.prevent>
          <div class="user-box">
            <input v-model="firstName" required="" name="" type="text">
            <label>First Name</label>
          </div>
          <div class="user-box">
            <input v-model="lastName" required="" name="" type="text">
            <label>Last Name</label>
          </div>
          <div class="user-box">
            <input v-model="email" required="" name="" type="email">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input v-model="password" required="" name="" type="password">
            <label>Password</label>
          </div>
          <a v-on:click="register" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
          </a>
        </form>
        <p> if you create account click here for back <a href="#" class="a2" @click="cambiar">Click here!</a></p>
      </div>
    </div>
    <h2>¿Why you choose us?</h2>
    <div class="texto">
      <h4>Our bank is an excellent option for your financial needs because we offer a wide variety of high-quality
        banking services and financial products.</h4>
      <p class="texto-p text">Firstly, our credit and debit cards are designed to provide you with a safe and convenient
        shopping experience worldwide, with multiple payment options and exclusive rewards. Additionally, our auto,
        mortgage, and personal loans are designed to adapt to your specific needs, with competitive terms and interest
        rates.</p>
      <p class="texto-p">Furthermore, our bank strives to provide exceptional customer service, with personalized
        financial advice to help you achieve your long-term financial goals. We also offer a wide range of online
        banking services, including the ability to conduct banking transactions from the comfort of your home or from
        anywhere with internet access.</p>
      <p class="texto-p">In summary, choosing our bank means having access to a wide range of high-quality banking
        services and financial products, with a focus on safety, convenience, and exceptional customer service. Our goal
        is to help you achieve your financial goals and make you feel safe and protected at all times.</p>
    </div>
    <h2>¿Did you need Loans? we have this benefits</h2>
    <div class="texto">
      <h4>We have three types of loans available: auto, personal, and mortgage. Here's a brief explanation of each:</h4>
      <p class="texto-p text">Auto loans: If you're looking to finance the purchase of a new or used car, this is the
        loan for you. Auto loans can help you cover the total cost of the vehicle or a portion of it. We offer
        competitive interest rates and flexible terms so you can pay your loan comfortably and conveniently.</p>
      <p class="texto-p">Personal loans: Need money to make improvements to your home, consolidate debt, or finance an
        important event in your life? A personal loan could be the solution you're looking for. Our personal loans have
        competitive interest rates and can be used for a variety of purposes. We also offer flexible terms and payment
        options to fit your budget.</p>
      <p class="texto-p">Mortgage loans: If you're looking to buy a home, a mortgage loan could be the way to go. We
        offer fixed and variable-rate mortgage loans, as well as competitive interest rates and flexible terms. Our team
        of mortgage loan experts will be happy to help you find the best loan option for you.</p>
    </div>
    <h2>¿Did you need cards? We have this benefits</h2>
    <div class="texto-2">
      <div class="ul-1">
        <ul>
          <h5>The Silver credit card is an excellent option for those looking for a reliable and affordable credit card.
            Some of the benefits of this card include:</h5>
          <li>Low-interest rate</li>
          <li>Protection against fraud</li>
          <li>Travel assistance</li>
        </ul>
      </div>
      <div class="ul-1">
        <ul>
          <h5>The Gold credit card is an ideal option for those seeking a credit card with additional benefits. Some of
            the benefits of this card include:</h5>
          <li>Rewards program</li>
          <li>Purchase protection</li>
          <li>Enhanced travel assistance</li>
        </ul>
      </div>
      <div class="ul-1">
        <ul>
          <h5>The Titanium credit card is a premium card that offers exclusive benefits for cardholders. Some of the
            benefits of this card include:</h5>
          <li>Exclusive access to events</li>
          <li>Luxury travel assistance</li>
          <li>Personalized concierge service</li>
          <li>Exclusive benefits at high-end stores and restaurants</li>
        </ul>
      </div>
    </div>
  </main>
  <footer class="d-flex align-items-center flex-wrap justify-content-around">
    <div class="d-flex justify-content-evenly imgs ">
      <div>
        <a href="https://github.com/joaquinfleitas" target="_blank">
          <i class="fa-brands fa-github " style="font-size: 2rem; color: var(--bs-highlight-bg);"></i>
        </a>
      </div>
      <div>
        <a href="tel:+5491127218740" target="_blank">
          <i class="fa-solid fa-phone" style="font-size: 2rem; color: var(--bs-highlight-bg);"></i>
        </a>
      </div>
      <div>
        <a href="https://wa.me/5491127218740" target="_blank">
          <i class="fa-brands fa-whatsapp" style="font-size: 2rem; color: var(--bs-highlight-bg);"></i>
        </a>
      </div>
      <div>
        <a href="https://joaquinfleitas71@gmail.com" target="_blank">
          <i class="fa-solid fa-envelope" style="font-size: 2rem; color: var(--bs-highlight-bg);"></i>
        </a>
      </div>
      <div>
        <a href="discord:joaquinfleitas#1479" target="_blank">
          <i class="fa-brands fa-discord" style="font-size: 2rem; color: var(--bs-highlight-bg);"></i>
        </a>
      </div>
    </div>
    <div class="p" style="margin: 10px;">
      <p>| Cohort FS041 Full Stack JAVA</p>
      <p>| Developer Joaquin Alain Fleitas</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://kit.fontawesome.com/4753464142.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../assets/javascript/index.js"></script>
</body>

</html>